/* Палитра. */
:root {
  --neutral-100: hsl(0, 0%, 96%);
  --neutral-200: hsl(0, 0%, 90%);
  --neutral-300: hsl(0, 0%, 83%);
  --neutral-400: hsl(0, 0%, 63%);
  --neutral-500: hsl(0, 0%, 45%);
  --neutral-600: hsl(0, 0%, 32%);
  --neutral-800: hsl(0, 0%, 15%);

  --slate-100: hsl(210, 40%, 96%);
  --slate-200: hsl(214, 32%, 91%);
  --slate-300: hsl(212, 29%, 84%);
  --slate-400: hsl(215, 23%, 65%);
  --slate-500: hsl(215, 18%, 47%);
  --slate-600: hsl(215, 22%, 35%);

  --blue-300: hsl(212, 100%, 81%);
  --blue-400: hsl(212, 100%, 66%);
  --blue-500: hsl(216, 100%, 58%);
  --emerald-400: hsl(161, 100%, 42%);
  --emerald-500: hsl(160, 100%, 37%);
  --rose-400: hsl(350, 100%, 69%);
  --red-500: hsl(357, 96%, 58%);
  --amber-400: hsl(44, 100%, 50%);
  --amber-500: hsl(36, 100%, 50%);
  --violet-700: hsl(263, 70%, 50%);

  --cloud-sky: hsl(212, 94%, 20%);
}

/** Светлая тема */
:root {
  --color-background: var(--neutral-100);
  --color-card: var(--neutral-200);
  --color-divider: var(--neutral-300);
  --color-border: var(--neutral-400);
  --color-text: var(--neutral-800);

  --color-switch-body: var(--slate-300);

  --color-primary: var(--blue-500);
  --color-success: var(--emerald-500);
  --color-error: var(--red-500);
  --color-warning: var(--amber-500);
  --color-disabled: var(--neutral-300);

  --color-label: var(--cloud-sky);
  --color-label-inverse: var(--color-background);
}

/** Тёмная тема */
.dark {
  --color-background: var(--neutral-800);
  --color-card: var(--neutral-600);
  --color-divider: var(--neutral-500);
  --color-border: var(--neutral-400);
  --color-text: var(--neutral-100);

  --color-switch-body: var(--slate-200);

  --color-primary: var(--blue-400);
  --color-success: var(--emerald-400);
  --color-error: var(--rose-400);
  --color-warning: var(--amber-400);
  --color-disabled: var(--neutral-200);

  --color-label: var(--blue-300);
  --color-label-inverse: var(--color-background);
}

/* Сопоставление семантических переменных с пользовательскими классами Tailwind */
@theme inline {
  --color-my-body-background: var(--color-background);
  --color-my-body-text: var(--color-text);

  --shadow-my-card: 2px 3px 10px 0 var(--color-border);
  --color-my-theme-light: var(--neutral-100);
  --color-my-theme-dark: var(--neutral-800);

  --color-my-switch-body: var(--color-switch-body);

  --color-my-divider: var(--color-divider);
  --color-my-label: var(--color-label);
  --color-my-label-inverse: var(--color-label-inverse);
  --color-my-card: var(--color-card);
}
