/* Палитра. */
:root {
  --neutral-100: hsl(0, 0%, 96%);
  --neutral-200: hsl(0, 0%, 90%);
  --neutral-300: hsl(0, 0%, 83%);
  --neutral-400: hsl(0, 0%, 63%);
  --neutral-500: hsl(0, 0%, 45%);
  --neutral-600: hsl(0, 0%, 32%);
  --neutral-800: hsl(0, 0%, 15%);

  --slate-100: hsl(210, 40%, 96%);
  --slate-200: hsl(214, 32%, 91%);
  --slate-300: hsl(212, 29%, 84%);
  --slate-400: hsl(215, 23%, 65%);
  --slate-500: hsl(215, 18%, 47%);
  --slate-600: hsl(215, 22%, 35%);

  --blue-400: hsl(212, 100%, 66%);
  --blue-500: hsl(216, 100%, 58%);
  --emerald-400: hsl(161, 100%, 42%);
  --emerald-500: hsl(160, 100%, 37%);
  --rose-400: hsl(350, 100%, 69%);
  --red-500: hsl(357, 96%, 58%);
  --amber-400: hsl(44, 100%, 50%);
  --amber-500: hsl(36, 100%, 50%);
}

/* Светлая тема по умолчанию. */
:root {
  --color-background: var(--neutral-100);
  --color-card: var(--neutral-200);
  --color-divider: var(--neutral-300);
  --color-border: var(--neutral-400);
  --color-text: var(--neutral-800);

  --color-switch-body: var(--slate-300);
  --color-switch-thumb-border: var(--slate-400);

  --color-primary: var(--blue-500);
  --color-success: var(--emerald-500);
  --color-error: var(--red-500);
  --color-warning: var(--amber-500);
  --color-disabled: var(--neutral-300);
}

/* Системная тёмная тема. */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--neutral-800);
    --color-card: var(--neutral-600);
    --color-divider: var(--neutral-500);
    --color-border: var(--neutral-400);
    --color-text: var(--neutral-100);

    --color-switch-body: var(--slate-200);
    --color-switch-thumb-border: var(--slate-400);

    --color-primary: var(--blue-400);
    --color-success: var(--emerald-400);
    --color-error: var(--rose-400);
    --color-warning: var(--amber-400);
    --color-disabled: var(--neutral-200);
  }
}

/*
 * Явная светлая тема (за счёт специфичности перекрывает системную тему).
 * Срабатывает, когда у html есть класс theme-light.
 */
html.theme-light {
  --color-background: var(--neutral-100);
  --color-card: var(--neutral-200);
  --color-divider: var(--neutral-300);
  --color-border: var(--neutral-400);
  --color-text: var(--neutral-800);

  --color-switch-body: var(--slate-300);
  --color-switch-thumb-border: var(--slate-400);

  --color-primary: var(--blue-500);
  --color-success: var(--emerald-500);
  --color-error: var(--red-500);
  --color-warning: var(--amber-500);
  --color-disabled: var(--neutral-300);
}

/* Тёмная тема. Срабатывает, когда у html есть класс theme-dark. */
html.theme-dark {
  --color-background: var(--neutral-800);
  --color-card: var(--neutral-600);
  --color-divider: var(--neutral-500);
  --color-border: var(--neutral-400);
  --color-text: var(--neutral-100);

  --color-switch-body: var(--slate-200);
  --color-switch-thumb-border: var(--slate-400);

  --color-primary: var(--blue-400);
  --color-success: var(--emerald-400);
  --color-error: var(--rose-400);
  --color-warning: var(--amber-400);
  --color-disabled: var(--neutral-200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  background: var(--color-background);
  min-height: 100vh;
  color: var(--color-text);
  font-size: 15px;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
