.switch {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem;
  user-select: none;
}

.switch__body {
  position: relative;
  transition: background 0.15s ease;
  cursor: pointer;
  border-radius: 0.5rem;
  background: var(--color-switch-body);
  width: 1.6rem;
  height: 0.5rem;
}

.switch__body::after {
  position: absolute;
  top: -2px;
  left: 0;
  transition: left 0.2s cubic-bezier(0.25, 1, 0.5, 1);
  border: 1px solid var(--color-switch-thumb-border);
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  content: '';
}

input[type='checkbox']:checked + .switch__body::after {
  left: 1rem;
}

input[type='checkbox']:disabled + .switch__body {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--color-disabled);
}

input[type='checkbox']:focus-visible + .switch__body {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
