{
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(vue)(.*)$",
    "",
    "^(src|app|boot)/(.*)",
    "",
    "<TYPES>",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript"],
  "importOrderTypeScriptVersion": "6.0.3",
  "tailwindSortClasses": true,
  "tailwindFormatter": "tailwindcss",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-css-order",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "attributeGroups": [
    "^:?is$",
    "^v-for$",
    "^v-(if|else-if|else)$",
    "^v-show$",
    "^v-cloak",
    "^v-pre",
    "^v-once",
    "^:?id$",
    "^:?ref$",
    "^:?key$",
    "^v-bind$",
    "^v-model",
    "^class$",
    "^:class$",
    "$DEFAULT",
    "^aria-",
    "^@",
    "^v-html$",
    "^v-text$"
  ],
  "attributeSort": "ASC",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ".*rc",
      "options": {
        "singleQuote": false,
        "parser": "json"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "importOrderParserPlugins": ["typescript"]
      }
    }
  ]
}
