{
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "tailwindSortClasses": true,
  "tailwindFormatter": "tailwindcss",
  "tailwindAttributes": ["classes", "ui"],
  "tailwindFunctions": ["clsx", "twMerge"],
  "overrides": [
    {
      "files": "*.json",
      "options": { "singleQuote": false }
    },
    {
      "files": "*.html",
      "options": { "singleQuote": false }
    },
    {
      "files": ".*rc",
      "options": { "singleQuote": false, "parser": "json" }
    }
  ]
}
