{
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "tailwindSortClasses": true,
  "tailwindFormatter": "tailwindcss",
  "tailwindAttributes": ["classes"],
  "tailwindFunctions": ["clsx", "twMerge"]
}
