/** Светлая тема */
:root {
  --vp-home-hero-name-background: linear-gradient(
    125deg,
    hsl(225, 86%, 53%) 0%,
    hsl(315, 100%, 50%) 50%,
    hsl(225, 86%, 53%) 100%
  );
  --vp-home-hero-name-color: transparent;

  --vp-c-brand-1: hsl(315, 64%, 46%);
  --vp-c-brand-2: hsl(315, 64%, 21%);
  --vp-c-brand-3: hsl(315, 44%, 46%);
  --vp-c-brand-soft: hsl(315, 64%, 76%);

  --vp-c-tip-soft: hsla(315, 94%, 21%, 0.2);
  --vp-custom-block-tip-text: var(--vp-c-brand-1);

  --vp-c-warning-soft: hsla(30, 94%, 58%, 0.4);
  --vp-custom-block-warning-text: hsl(30, 74%, 43%);

  --vp-c-danger-soft: hsla(0, 84%, 58%, 0.4);
  --vp-custom-block-danger-text: hsl(0, 74%, 43%);

  --highlighted-text: hsl(210, 54%, 43%);
  --divider: hsl(240, 2%, 89%);
}

/** Тёмная тема */
.dark {
  --vp-home-hero-name-background: linear-gradient(
    125deg,
    hsl(225, 56%, 53%) 0%,
    hsl(315, 75%, 50%) 50%,
    hsl(225, 56%, 53%) 100%
  );
  --vp-home-hero-name-color: transparent;

  --vp-c-brand-1: hsl(210, 74%, 53%);
  --vp-c-brand-2: hsl(210, 73%, 28%);
  --vp-c-brand-3: hsl(210, 54%, 43%);
  --vp-c-brand-soft: hsl(210, 74%, 83%);

  --vp-code-block-bg: #252528;

  --vp-c-tip-soft: hsla(210, 73%, 28%, 0.4);
  --vp-custom-block-tip-text: var(--vp-c-brand-1);

  --vp-c-warning-soft: hsla(30, 73%, 28%, 0.4);
  --vp-custom-block-warning-text: hsl(30, 74%, 53%);

  --vp-c-danger-soft: hsla(0, 73%, 28%, 0.4);
  --vp-custom-block-danger-text: hsl(0, 74%, 53%);

  --highlighted-text: hsl(315, 44%, 46%);
  --divider: hsl(240, 4%, 29%);
}

/* Сопоставление семантических переменных с пользовательскими классами Tailwind */
@theme inline {
  --color-highlighted-text: var(--highlighted-text);
  --color-brand-3: var(--vp-c-brand-3);
  --color-divider: var(--divider);
}

.language-ts code,
.language-html code {
  white-space: pre-wrap;
}

.VPHero span.name.clip {
  animation: shine-gradient 18s linear infinite !important;
  animation-delay: 2s !important;
  background-size: 200% auto !important;
  color: red !important;
}

@keyframes shine-gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
